.cube-set {
    gap: 5px;
    padding: 0
}

.cube-row {
    display: flex;
    flex-flow: row;
    flex: 1;
    gap: 5px;
}

@media (max-width: 576px) {
    .cube-set {
        gap: 2px
    }

    .cube-row {
        display: flex;
        flex-flow: row;
        flex: 1;
        gap: 2px;
    }
}