.attack-msg {
    animation: moveUp 3s ease-out forwards;
    fill: red;
    font-family: DNFBitBitv2;
    font-size: 0.8rem;
}

.draw-msg {
    fill: blue;
    font-family: DNFBitBitv2;
    font-size: 0.4rem;
}

.feared-msg {
    animation: shaking 0.5s ease-out forwards;
    fill: yellow;
    font-family: DNFBitBitv2;
    font-size: 0.5rem;
}

.locked-msg {
    fill: yellow;
    font-family: DNFBitBitv2;
    font-size: 0.4rem;
}

.lockon-msg{
    fill: red;
    font-family: DNFBitBitv2;
    font-size: 0.4rem;
}

@media (max-width: 576px) {
    .attack-msg {
        font-size: 0.3rem;
    }

    .draw-msg {
        font-size: 0.2rem;
    }

    .feared-msg {
        font-size: 0.2rem;
    }

    .locked-msg{
        font-size: 0.2rem;
    }

    @keyframes moveUp {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-30px);
            /* 위로 이동 */
        }
    }
}

@keyframes moveUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100px);
        /* 위로 이동 */
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-2px);
    }

    20% {
        transform: translateX(2px);
    }

    30% {
        transform: translateX(-2px);
    }

    40% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(2px);
    }

    70% {
        transform: translateX(-2px);
    }

    80% {
        transform: translateX(2px);
    }

    90% {
        transform: translateX(-2px);
    }
}

.shaking {
    animation: shake 0.5s infinite;
}