.playTime-col {
    flex: 2;
    text-align: center;
    width: 40%;
}

.username-col {
    flex: 2;
    text-align: center;
    width: 40%;
}

.attr-col {
    flex: 1;
    text-align: center;
    width: 10%;
}

.totalKill-col {
    flex: 1;
    text-align: center;
    width: 10%;
}