.deployment {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 5px;
}

.game-status {
    overflow: hidden;
    height: 100%;
}

.game-window {
    height: 80%;
    background-color: black;
    overflow: hidden;
}

.game-log {
    height:17%
}