.time-col {
    text-align: center;
    width: 20%;
}

.username-col {
    text-align: center;
    width: 40%;
}

.activityType-col {
    text-align: center;
    width: 20%;
}

.log-container {
    border: 1px solid;
    border-color: black;
    border-radius: 1rem;
}