.memberNumber-col {
    text-align: center;
    width: 5%;
}

.username-col {
    text-align: center;
    width: 55%;
}

.isConnected-col {
    text-align: center;
    width: 5%;
}

.isPlaying-col {
    text-align: center;
    width: 5%;
}

.btnMenu-col {
    text-align: center;
    width: 30%;
}

.editBtn-col {
    text-align: center;
    width: 15%;
}

.deleteBtn-col {
    text-align: center;
    width: 15%;
}