.observer-window {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border: 2px dashed white;
    border-radius: 1rem;
}

.gamefield-window {
    width: 100%;
    position: relative;
    margin: 0;
}


@media (min-width: 1440px) {
    .observer-window {
        height: 80vh
    }
    .gamefield-window {
        scale: 2.5
    }
}

@media (min-width: 992px) {
    .observer-window {
        height: 80vh
    }
    .gamefield-window {
        scale: 2.5
    }
}

@media (min-width: 576px) {
    .observer-window {
        height: 80vh
    }
    .gamefield-window {
        scale: 2.5
    }
}

@media (max-width: 576px) {
    .observer-window {
        height: 50vh
    }
    .gamefield-window {
        scale: 3.5
    }
}




