.observer-window {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border: 2px dashed white;
    border-radius: 1rem;
}

.field-parent {
    width: 100%;
    position: relative;
    margin: 0;
}



@media (max-width: 1440px) {
    .observer-window {
        height: 80vh
    }
    .field-parent {
        scale: 2.5
    }
}

@media (max-width: 576px) {
    .observer-window {
        height: 50vh
    }
    .field-parent {
        scale: 4.5
    }
}



